#exportPattern("^[[:alpha:]]+")
export(lcm_CR_Basic_generator)
export(lcmCR)
#export(fn_CRfact2OnesZeros)
#export(fn_CRmatrix2dataframe)
#export(fn_CRtabular2indiv)
export(lcmCR_PostSampl)
exportClasses(lcm_CR_Basic)
importFrom(methods, setRefClass)
importFrom(methods, new)
useDynLib(LCMCR)
